.new-challenge-banner {max-height: 55vh; min-height: 380px; position: relative; display: flex; align-items: center; justify-content: center; padding: 50px 0; text-align: center; } 
.new-challenge-banner h2 {color: #fff; }
.job-summary-desc{color:#fff;font-size:16px;font-weight:500;margin-bottom:14px;letter-spacing:.14px;}
.vacancy-search{margin-top:-74px;padding-bottom:16px;position:relative;}
.vacancy-search .search-bar-wrapper{padding:10px;background-color:#fff;box-shadow:0 2px 8px 0 rgb(0 0 0 / 8%);margin-bottom:8px;display:flex;justify-content:space-between;align-items:center;}
.vacancy-search .search-bar-wrapper >i.fa-search{color:#a3a1a1;font-size:18px;font-weight:400;padding-left:14px;padding-right:16px;font-family:'FontAwesome';}

.vacancy-search .search-bar-wrapper .no-border-input{height:52px;flex:1 1 auto;color:#191414;font-size:18px;font-weight:400;border:0;letter-spacing:.7px;}
.vacancy-search .search-bar-wrapper .career-btn-shape{background-color:#253c81;color:#eaf0f2;font-size:18px;font-weight:700;display:inline-block;border-radius:2px;padding:12px 36px;height:52px;border:0;display: flex; align-items: center;}
.vacancy-search .search-bar-wrapper .career-btn-shape i{display:none;}
.job-filter-box .box{width:100%;background-color:#fff;box-shadow:0 2px 8px 0 rgb(0 0 0 / 8%);min-height:84px;padding:10px 58px 10px 28px;margin-bottom:16px;position:relative;}
.job-filter-box .box.mix{display:none;}
.job-filter-box .jb-title{font-size:18px;font-weight:500;margin-bottom:4px;letter-spacing:.36px;color:#e2436d;}
.job-filter-box .jb-description{color:#191414;font-size:16px;font-weight:400;letter-spacing:0;text-transform: capitalize;}
.job-filter-box .arrow{position:absolute;right:0;top:0;bottom:0;display:flex;align-items:center;justify-content:center;color:#4b545b;font-size:22px;font-weight:400;padding:22px;}
.job-filter-sarch .filter-tab a{background-color:#f3f4f5;color:#333;border-radius:2px;padding:12px 17.3px;margin-right:16px;font-size:16px;font-weight:500;letter-spacing:.06px;display:inline-block;}
.job-filter-sarch .filter-tab{margin:0 0 50px;}
.job-filter-sarch{padding-bottom:60px;}
.job-filter-sarch .filter-tab a.active { background-color: #4b545b; color: #fff; }
.vacancy-search .container, .job-filter-sarch .container {
    max-width: 1160px;
}
.job-filter-sarch .note { max-width: 1000px;width:90%; margin: 67px auto 0; }

@media(max-width:700px){
.new-challenge-banner {
    max-height: 85vh;
    min-height: 55vh;
}
  .job-filter-sarch .note {
   width:100%;
    margin: 27px auto 0;
}
  .vacancy-search .search-bar-wrapper .career-btn-shape{font-size:0;}
  .vacancy-search .search-bar-wrapper .career-btn-shape i{display:block;font-size:18px;}
  .job-filter-box .arrow { font-size: 18px; }
  .job-filter-sarch { padding-bottom: 20px; }
  .vacancy-search .search-bar-wrapper .career-btn-shape{padding:12px 17px;}
.vacancy-search .search-bar-wrapper .career-btn-shape{height:44px;}
.vacancy-search .search-bar-wrapper .no-border-input{height:44px;font-size:16px;}
.vacancy-search .search-bar-wrapper>i.fa-search{padding:0 10px;}
.job-summary-desc{font-size:14px;margin-bottom:5px;text-align:center;}
.job-filter-sarch .filter-tab a{padding:9px 17.3px;font-size:14px;line-height:20px;margin-right:5px;}
.job-filter-sarch .filter-tab{margin:0 0 30px;}

}