<div id="{{ module.add_custom_id }}" class="logo-v2 {{ module.add_custom_class }}  {% if module.add_slider == true %} logo-v2-slider {% endif %}" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="container">
    <div class="outter-logo-sec">
      {% if module.title %}
      <div class="logo-title">
        <h3>
          {{ module.title }}
        </h3>
      </div>
      {% endif %}
      <div class="logo-v2-wp display-flex">
        {% for item in module.box_group %}
        <div class="logo-box2 {{ module.column_choice }} " >
          {% set href = item.logo_link.url.href %}
          {% if item.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if item.logo_link.no_follow %}
          {% do rel.append("nofollow") %}
          {% endif %}
          {% if item.logo_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
             {% if item.logo_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
             >
            <div class="inner" style="background-color:rgba({{ item.logo_backfround_color.color|convert_rgb }},calc({{  item.logo_backfround_color.opacity }}/100));">
              {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>
          </a>   
        </div>
        {% endfor %}
      </div>
      {% if module.column_choice == 'col-5' %}
      <div class="theme-button2 ">
        <a href="javascript:;" class="show_More load-more-btn">
        </a>  
      </div>
      {% endif %}
    </div>  
  </div>
</div>
<style>
  a.load-more-btn::after { content: "{{ module.cta_text }}";  }
    a.load-more-btn.show_Less::after {  content: "View Less";  }
</style>