<div class="get-sec {{ module.add_custome_class }}" id="{{ module.add_custom_id }}" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="container">
    <div class="outter-get-sec">
      {% if module.title %}
      <div class="get-main-title">
        <h3>
          {{ module.title }}
        </h3>
      </div>
       {% endif %}
      <div class="inner-get-sec display-flex">
        {% for item in module.box_group %}
        <div class="get-box" style="background-color:{{ item.box_background_color.color }};">
          <div class="get-img">
            {% if item.icone.src %}
            {% set sizeAttrs = 'width="{{ item.icone.width }}" height="{{ item.icone.height }}"' %}
            {% if item.icone.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.icone.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.icone.max_width }}" height="{{ item.icone.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.icone.loading != 'disabled' ? 'loading="{{ item.icone.loading }}"' : '' %}
            <img src="{{ item.icone.src }}" alt="{{ item.icone.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
          <div class="get-content">
            {{ item.content }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>