.threerevcont h1 {
    display:flex;
    justify-content: center;
    color:white;
    margin-bottom: 70px;
    font-weight:600;
}
.aspas {
    color: #d3d9f8;
    display: block;
    font-family: Montserrat;
    font-size: 102px;
    height: 90px;
    margin-top: -20px;
    position: relative;
}
.revcont {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    max-width: 1400px;
}
.revbox {
    height: 320px;
    width: 350px;
    background-color: white;
    padding: 23px;
}
span.name, span.jobtitle, span.unternehmen {
    font-size: 16px;
}
.revtext div {
    margin-bottom: 25px;
}