<div class="solution-banner-sec {{ module.add_custom_class }} " id="{{ module.add_custom_id }}" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="container">
    <div class="outter-sol-banner display-flex">
      <div class="sol-banner-content">
        {{ module.content }}
        <div class="outter-button desk-button">
          {% for item in module.button_group %}
          <div class="inner-button cta-{{loop.index}}  {% if item.select_button_style == 'link'  %}link-button {% elif item.select_button_style == 'black'  %}theme-button2 {% else  item.select_button_style == 'theme'  %}theme-button{% endif %} ">
            {% if item.select_button == 'hub'  %}
            {% cta guid="{{ item.hubspot_cta }}" %}      
            {% else item.select_button == 'btn'  %}
            {% set href = item.button_link.url.href %}
            {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.button_link.no_follow %}
            {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.button_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
               {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
               >
              {{ item.button_text }}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="sol-banner-img">
        {% if module.image.src %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        <div class="fen-sol-bg-img">          
        </div>
      </div>     
      <div class="outter-button mob-button">
        {% for item in module.button_group %}
        <div class="inner-button cta-{{loop.index}}  {% if item.select_button_style == 'link'  %}link-button {% elif item.select_button_style == 'black'  %}theme-button2  {% else  item.select_button_style == 'theme'  %}theme-button{% endif %} ">
          {% if item.select_button == 'hub'  %}
          {% cta guid="{{ item.hubspot_cta }}" %}      
          {% else item.select_button == 'btn'  %}
          {% set href = item.button_link.url.href %}
          {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if item.button_link.no_follow %}
          {% do rel.append("nofollow") %}
          {% endif %}
          {% if item.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
             {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
             >
            {{ item.button_text }}
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>     
    </div>
  </div>
</div>
<style>
   .sol-banner-img:before {  background-image: url('{{ module.background_image.src }}');  }
      .sol-banner-img:after { background-image: url('{{ module.background_right_image.src }}'); } 
    
</style>