<div class="speaker-section">
    <div class="container">
        <div class="heading">
            {{ module.heading }}
        </div>
        <div class="speaker-card">
            {% for item in module.user_list %}
            <div class="speaker-menu">
                {% if item.user_image.src %}
                {% set sizeAttrs = 'width="{{ item.user_image.width }}" height="{{ item.user_image.height }}"' %}
                {% if item.user_image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.user_image.width }}" height="{{ item.user_image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.user_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.user_image.max_width }}" height="{{ item.user_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = item.user_image.loading != 'disabled' ? 'loading="{{ item.user_image.loading }}"' : '' %}
                <img src="{{ item.user_image.src }}" alt="{{ item.user_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
                {{ item.user_name }}
                {% set href = item.user_link.url.href %}
                {% if item.user_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                   {% if item.user_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if item.user_link.rel %}rel="{{ item.user_link.rel }}"{% endif %}
                   >
                    {{ item.user_link_text }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% require_css %}
<style>
    .speaker-section:before{background-image: url({{ module.right_shape.src }});}
</style>
{% end_require_css %}

