<div class="footer-sec">
  <div class="container">
    <div class="outter-footer">
      <div class="footer-logo">
        {% set href = module.logo_link.url.href %}
{% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.logo_link.no_follow %}
	{% do rel.append("nofollow") %}
{% endif %}
{% if module.logo_link.open_in_new_tab %}
	{% do rel.append("noopener") %}
{% endif %}
<a href="{{ href }}"
	{% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
	{% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
	>


        {% if module.logo.src %}
        {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
        {% if module.logo.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.logo.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
        <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %} </a>
      </div>
      <div class="footer-content display-flex">
        {% for item in module.footer_menu_group %}
        <div class="footer-link">
          <h6>{{ item.menu_title }}</h6>
          {% simple_menu menu_tree="{{ item.footer_menu }}" %}
        </div>
        {% endfor %}
        <div class="footer-social-icone">
          <h6>{{ module.social_icone_title }}

          </h6>
          <div class="footer-icone">
            {% for item in module.social_icone_group %}

            {% set href = item.social_icone_link.url.href %}
            {% if item.social_icone_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.social_icone_link.no_follow %}
            {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.social_icone_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
               {% if item.social_icone_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
               >
              {% if item.social_icone.src %}
              {% set sizeAttrs = 'width="{{ item.social_icone.width }}" height="{{ item.social_icone.height }}"' %}
              {% if item.social_icone.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif item.social_icone.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.social_icone.max_width }}" height="{{ item.social_icone.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.social_icone.loading != 'disabled' ? 'loading="{{ item.social_icone.loading }}"' : '' %}
              <img src="{{ item.social_icone.src }}" alt="{{ item.social_icone.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="footer-other-info">
          <div class="footer-address">
            {{ module.address }}
          </div>
          <div class="footer-parimg">
            {% for item in module.partner_logo %}
            {% if item.image_field.src %}
            {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
            {% if item.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
            <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            {% endfor %}
          </div>
          <div class="footer-software">
            {{ module.software_text }}
             <div class="footer-partner">
            <div class="footer-par-img">
              {% if module.image_field_1.src %}
              {% set sizeAttrs = 'width="{{ module.image_field_1.width }}" height="{{ module.image_field_1.height }}"' %}
              {% if module.image_field_1.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.image_field_1.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.image_field_1.max_width }}" height="{{ module.image_field_1.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = module.image_field_1.loading != 'disabled' ? 'loading="{{ module.image_field_1.loading }}"' : '' %}
              <img src="{{ module.image_field_1.src }}" alt="{{ module.image_field_1.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>
            <div class="footer-par-content">
              {{ module.company_about }}
            </div>
          </div>
          </div>
         
        </div>
      </div>
      <div class="footer-copy-right display-flex">
        <div class="footer-left-copy-right">
          {% simple_menu menu_tree="{{ module.copy_right_menu }}" %}
        </div>
        <div class="footer-right-copy-right">
          {{ module.copy_right }}
        </div>
      </div>
    </div>
  </div>
</div>