<!--
templateType: blog_listing
isAvailableForNewContent: true
label: Legartis - Blog Listing
-->

{% set template_css = '../../css/templates/blog.css' %}
{% extends './layouts/base.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  <div class="body-container body-container--blog-index blog-index-page legartis white-header">
    <!--   banner-sec -->
    <div class="blog-banner">
      <div class="wrapper">
        <div class="outter-blog-banner">
          <div class="blog-banner-content">
            
            {% if topic %}
            <h1 class="topicc-title"> {% if group.language == 'EN' %} Topic: {% elif group.language == 'DE' %} Thema: {% endif %} {{ topic|replace('-',' ') }}</h1>
            {% elif blog_author %}
            <h1 class="topicc-title"> {% if group.language == 'EN' %} Author: {% elif group.language == 'DE' %} Autor: {% endif %}  {{ blog_author.display_name|replace('-',' ') }}</h1>
            {% else %}
            <h1>{% if group.language == 'EN' %} The Legartis Blog {% elif group.language == 'DE' %} Der Legartis-Blog  {% endif %}</h1>
            {% endif %}
           
            <p> {% if group.language == 'EN' %}Stay up to date with the latest insights and helpful tips on LegalTech, artificial intelligence and contract review automation. {% elif group.language == 'DE' %}Bleiben Sie auf dem Laufenden mit den neuesten Erkenntnissen und hilfreichen Tipps zu LegalTech, künstlicher Intelligenz und automatisierter Vertragsprüfung.{% endif %}</p>
          </div>
          <div class="blog-banner-form">
            {% module "module_16213313674099" path="/Legartis_April2021/modules/blog_subscribe Legartis", label="blog_subscribe Legartis" %}
          </div>
        </div>
      </div>
    </div>

    <!--     blog-index -->
   <div class="blog-index">
      <div class="wrapper">
        <div class="outter-blog-index">
          
         {# {% if topic %}
          <div class="blog-all-tag">
            <div class="blog-tag-title">
          <div class="inner-blog-tag">
              {% module "post_filter" path="@hubspot/post_filter" , filter_type = "tag" , list_title = "", max_links = "15" , expand_link_text = "Alles zien" %}
            </div>
               </div>
          </div>
           {% else %} #}
          <div class="blog-all-tag">
            <div class="blog-tag-title">
              <ul> <li {% if not topic %}class="active"{% endif %}><a href="{{group.absolute_url}}">  {% if group.language == 'EN' %}Recent Articles{% elif group.language == 'DE' %} Aktuelle Artikel {% endif %} </a></li> </ul>
            </div>
            <div class="inner-blog-tag">
              {% module "post_filter" path="@hubspot/post_filter" , filter_type = "tag" , list_title = "", max_links = "15" , expand_link_text = "Alles zien" %}
            </div>
          </div>
          
          {# {% endif %} #}
          <div class="inner-blog-index display-flex post-listing">
            {% for content in contents %}
            <div class="blog-index-box post-item">
              <a href="{{content.absolute_url}}" class="blog-index-link"> </a>
              {% if content.post_list_summary_featured_image %}
              <div class="blog-featured-img" style="background-image:url('{{ content.post_list_summary_featured_image }}')"></div>
              {% endif %} 
              <div class="blog-post-info">
                {% if content.tag_list %}
                <div class="blog-tags">
                  {% for tag in content.tag_list %}
                  <a class="blog-tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                  {% endfor %}
                </div>
                {% endif %}             
                <div class="blog-post-title">
                  <h4>{{ content.name }}</h4>
                  <p>{{ content.post_list_content|truncatehtml(176, '..', false)|striptags  }}</p>
                </div>

                {% if content.blog_post_author %}
                <div class="author-name">           
                  <a class="author-link" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"> {% if group.language == 'EN' %}By {% elif group.language == 'DE' %}Von {% endif %} {{ content.blog_post_author.display_name }}  {% if group.language == 'EN' %} on {% elif group.language == 'DE' %} am {% endif %} {{ content.publish_date|datetimeformat( '%e %B %Y' ) }}</a>
                </div>              
                {% endif %} 
              </div>
            </div> 

            {% endfor %}    
          </div>
        </div>
      </div>
    </div>

    {% if not simple_list_page %}
    <div class="blog-pagination">
      {% if last_page_num %}
      <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}">Previous</a>
      {% endif %}
      {% if next_page_num %}
      <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}">Next</a>
      {% endif %}
    </div>
    {% endif %}

    <!--     latest-news -->

    <div class="latest-news">
      <div class="wrapper">
        <div class="outter-latest-news display-flex">
          <div class="latest-news-text">
            <h3>  {% if group.language == 'EN' %} Subscribe to the Legartis Newsletter {% elif group.language == 'DE' %} Abonnieren Sie den Legartis-Newsletter  {% endif %} </h3>
            <p>  {% if group.language == 'EN' %} Sign up for our newsletter and benefit from the latest insights from the world of LegalTech, artificial intelligence and contract review automation. {% elif group.language == 'DE' %} Melden Sie sich für unseren Newsletter an und profitieren Sie von den neuesten Erkenntnissen aus der Welt von LegalTech, künstlicher Intelligenz und automatisierter Vertragsprüfung. {% endif %} </p>
          </div>
          <div class="latest-news-form">
            {% module "module_1621331367409uy9" path="/Legartis_April2021/modules/blog_subscribe Legartis", label="blog_subscribe Legartis" %} 
            
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn2.hubspot.net/hubfs/3927798/JS/infinite_scroll_v1.js" ></script>
    <script>
      //scroll load
      var ias = $.ias({
        container : '.post-listing',
        item: '.post-item',
        pagination: '.blog-pagination',
        next: '.next-posts-link',
      });

      ias.extension(new IASSpinnerExtension());
      ias.extension(new IASTriggerExtension({ text: ' {% if group.language == 'EN' %} All Articles {% else group.language == 'DN' %} Alle Artikel {% endif %}', offset:0}));
      //ias.extension(new IASNoneLeftExtension({text: 'There are no more pages left to load.'}));
    </script>

  </div>
</main>
{% endblock body %}
