<!--
templateType: page
isAvailableForNewContent: true
label: Landing Page v3 - Download Ebook
-->

{% extends "./layouts/base_LP.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home e-book lp-pages', label='Main section' %}
  
  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Solution Banner Module.module" add_custom_class = 'leg-lp' %}        
  {% end_dnd_module %}
  {% end_dnd_section %}  
  
  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Legartis 2 Col Image With Content.module" %}        
  {% end_dnd_module %}
  {% end_dnd_section %}  

  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/2 Col Form With Image Module.module"  %}        
  {% end_dnd_module %}
  {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
{% block footer %}
{% module "module_16231626337117" path="/Legartis_April2021/modules/LP Footer Module", label="LP Footer Module" %}
{% endblock footer %}