<!--
templateType: page
isAvailableForNewContent: true
label: Resource Page

-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home solution-page legartis white-header', label='Main section' %}

  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Solution Banner Module.module" , add_custom_class = 'media-press-banner' %}        
  {% end_dnd_module %}
  {% end_dnd_section %} 

  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Explore our resources Filter.module"  %}        
  {% end_dnd_module %}
  {% end_dnd_section %}

  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Three Column - Blog.module"  %}        
  {% end_dnd_module %}
  {% end_dnd_section %}
  
  {% dnd_section full_width = true, padding={'right':0, 'left': 0, 'top':0, 'bottom':0 } %}
  {% dnd_module path="../modules/Subscribe latest news.module"  %}        
  {% end_dnd_module %}
  {% end_dnd_section %}
  
  {% end_dnd_area %}
</main>
{% endblock body %}
