<div class="slider-logo-sec" id="{{ module.add_custom_id }}" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="container">
    <div class="outter-slider-logo">
      <div class="slider-logo-title">
        <h3> {{ module.title }} </h3>
      </div>
      <div class="inner-slider-logo logo-slider">
        {% for item in module.slider_group %}
        <div class="slider-logo-box"> 
          {% if item.logo.src %}
          {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
          {% if item.logo.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.logo.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
          <img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="inner-slider-logo logo-slider-mobile">
        {% for item in module.slider_group %}
        <div class="slider-logo-box"> 
          {% if item.logo.src %}
          {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
          {% if item.logo.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.logo.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
          <img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        {% endfor %}
      </div>   
    </div>
  </div>
</div>