<div class="sidebat-with-content-lp" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="wrapper">
    <div class="blog-post-content leg-blog-post-con  {% if module.do_you_want_side_navigation_ %}blog-post-with-side-nav{% endif %}">

      <div class="blog-inner-post-box display-flex">
        {% if module.do_you_want_side_navigation_ %}
        <div class="outter-blog-sider-bar">
          <div class="blog-sider-bar-nav">      
          </div>
        </div> 
        {% endif %}
        <div class="blog-post-content-box">
          {{ module.content }}
        </div>
      </div>    
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.blog-post-content-box h2').each(function(i,value){
      if ($(this).is(':empty')){

      }else{
        if($(this).text()!==" "){
          $('.blog-sider-bar-nav').append('<h2 nah2="loop'+i+'">'+$(this).text()+'</h2>');
          $(this).attr('dah2','loop'+ i);
        }  
      }

      var cloned_h3=$(this).nextUntil("h2").filter('h3').filter(function(){
        return $(this).text() !== " ";
      });

      $.each(cloned_h3,function(key,value){
        if($(this).text()!=""){
          $(this).attr('dah3','loop'+i+'-'+key);
          $('.blog-sider-bar-nav').append('<h3 nah3="loop'+i+'-'+key+'">'+$(this).text()+'</h3>');

        }
      });

    }); 

    $('.blog-sider-bar-nav h2').each(function(){
      $(this).nextUntil('h2').andSelf().wrapAll('<div class="foldOutItem" />');
      $(this).nextAll().wrapAll('<div class="foldOutItemContent" />')
        .end().wrap('<div class="foldOutItemTitle" />');
    });

    $('.close-icon').click(function(){
      $(this).toggleClass('active');
      $('.blog-sider-bar-nav').toggle(300);
    });

    $('body').on('click','.blog-sider-bar-nav h2',function(){
      var nah2 = $(this).attr('nah2');
      $('html, body').animate({
        scrollTop: $('.blog-post-content-box h2[dah2='+ nah2 +']').offset().top
      }, 1000);
    });

    $('body').on('click','.blog-sider-bar-nav h3',function(){
      var nah3 = $(this).attr('nah3');
      $('html, body').animate({
        scrollTop: $('.blog-post-content-box h3[dah3='+ nah3 +']').offset().top
      }, 1000);
    });


  })
</script>
