<div class="lp-banner-sec {{ module.add_custom_class }} " id="{{ module.add_custom_id }}" style="background-color:rgba({{  module.background_color.color |convert_rgb }},calc({{   module.background_color.opacity }}/100));">
  <div class="container">
    <div class="lp-banner-inner">
      <div class="lp-banner-wp">
        {{ module.content }}
       {% if module.datetime_field %}
        <h3 class="date">{% set day = module.datetime_field|datetimeformat('%e') %}
          {% if day >= 4 and day <= 20 %}
          {% set day = day + "th" %}
          {% elif day >= 24 and day <= 30 %}
          {% set day = day + "th" %}
          {% elif day == 1 or day == 21 or day == 31 %}
          {% set day = day + "st" %}
          {% elif day == 2 or day == 22 %}
          {% set day = day + "nd" %}
          {% elif day == 3 or day == 23 %}
          {% set day = day + "rd" %}
          {% endif %}
          <span class='day'>{{ module.datetime_field|datetimeformat('%e') }}.</span> {{ module.datetime_field|datetimeformat('%B') }}  {{ module.datetime_field|datetimeformat('%Y') }}</h3>
        {% endif %}
        <div class="buttons ">
          {% for item in module.button_group %}
          <div class="inner-button cta-{{loop.index}}  {% if item.select_button_style == 'link'  %}link-button {% elif item.select_button_style == 'black'  %}theme-button2 {% else  item.select_button_style == 'theme'  %}theme-button{% endif %} ">
            {% if item.select_button == 'hub'  %}
            {% cta guid="{{ item.hubspot_cta }}" %}      
            {% else item.select_button == 'btn'  %}
            {% set href = item.button_link.url.href %}
            {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.button_link.no_follow %}
            {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.button_link.open_in_new_tab %}
            {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
               {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
               >
              {{ item.button_text }}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .lp-banner-inner:before{background-image:url({{ module.background_shape_1.src }});}
  .lp-banner-inner:after{background-image:url({{ module.background_shape_2.src }});}
</style>