<div class="solution-only-text {{ module.add_custom_class }}" id="{{ module.add_custom_id }}" style="background-color:rgba({{ module.sec_background_color.color|convert_rgb }},calc({{  module.sec_background_color.opacity }}/100));">
  <div class="container">
    <div class="outter-sol-only-text" style="max-width:{{ module.set_width }}px;">
      <div class="sol-only-text-content">
        {{ module.content }}
        
        {% for item in module.button_group %}
        <div class="inner-button cta-{{loop.index}}  {% if item.select_button_style == 'link'  %}link-button{% else  item.select_button_style == 'theme'  %}theme-button{% endif %} ">
          {% if item.select_button == 'hub'  %}
          {% cta guid="{{ item.hubspot_cta }}" %}      
          {% else item.select_button == 'btn'  %}
          {% set href = item.button_link.url.href %}
          {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          {% set rel = [] %}
          {% if item.button_link.no_follow %}
          {% do rel.append("nofollow") %}
          {% endif %}
          {% if item.button_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
          {% endif %}
          <a href="{{ href }}"
             {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
             >
            {{ item.button_text }}
          </a>
          {% endif %}
        </div>
        {% endfor %}
       
      </div>
    </div>
  </div>
</div>