.triangleboxes h1 {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    line-height: 50px;
}
.triangleboxes span {
    font-size: 18px;
}
.triangleboxes span {
    font-size: 18px;
    max-width: 670px;
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 25px;
}