.triangleboxes h1 {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    line-height: 50px;
}
.triangleboxes span {
    font-size: 18px;
}
.triangleboxes span {
    font-size: 18px;
    max-width: 670px;
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.triangle {
    width: 376px;
    height: 300px;
    border: 1px solid black;
    padding: 50px;
}
.uptriangles {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin: auto;
    padding-top: 70px;
}
.triangle h4 {
    font-size: 20px;
    margin-bottom: 0px;
}
.triangle span {
    padding-top:0px;
}