.qctacont h2 {
    font-size: 30px;
    margin-bottom:0px;
}
.qctacont .txtcta {
    padding-top: 30px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    margin: auto;
    width: 45%;
}
.qctacont {

   height: 500px;
   margin-top: -70px;
}
.txtcta span {
    font-size: 16px;
    display: block;
}
.qctacont span.hs-cta-node {
    height: 39px;
    padding: 10px 20px;
    border-radius: 11px;
}
.qctacont span.hs-cta-wrapper {
    margin-top: 11px;
}
.qctacont a {
    color: white;
}