.txtcta span.hs-cta-wrapper {
    height: 40px;
    width: fit-content;
    border-radius: 11px;
  }
.qctacont .qctcontainer .txtcta {
    padding-top: 0 !important;
}
.qctcontainer {
    width: 1160px;
    height: 164px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius:31px;
  }

.qctacont h2 {
    font-size: 30px;
    margin-bottom:0px;
    color:white;
    font-weight: 600;
    margin-right:25px;
}
.qctacont .txtcta {
    padding-top: 25px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    margin: auto;
    width: fit-content;
}
.qctacont {

height: 300px;
margin-top: 100px;
}
.txtcta span {
    font-size: 16px;
    display: block;
}
.qctacont span.hs-cta-node {
    height: 39px;
    padding: 10px 20px;
    border-radius: 11px;
}
.qctacont span.hs-cta-wrapper {
    margin-top: 11px;
}
.qctacont a {
    color: white;
}
.wsq {
    height: 2px;
    background-color: white;
}
@media only screen and (max-width: 1500px) {
    .qctacont h2 {
        padding-top: 5px;
    }
}
@media only screen and (max-width: 1100px) {
    .qctacont h2 {
        padding-top: 7px;
    }
    .qctacont .qctcontainer .txtcta {
    display: block;
}
.txtcta span.hs-cta-wrapper {
    margin: auto;
    margin-top: 20px;
}
.qctcontainer {
    width: 90%;
}
}
@media only screen and (max-width: 1100px) {
    .qctacont h2 {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .qctacont span.hs-cta-node {
    margin: 10px auto auto;
}
    .qctacont .txtcta{
    display: block;
    font-size: 30px;
    margin: auto;
    padding-top: 25px;
    width: fit-content;
    }
    .qctacont h2 {
    padding-top: 7px;
    padding-top: unset;
    width: 90%;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
}
    .topright {
    margin-bottom: 60px;
}
.txtcta span {
    display: block;
    font-size: 16px;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
}
}