<div class="footer-sec lp-footer">
  <div class="container">
    <div class="outter-footer">
      <div class="footer-logo">
        {% set href = module.logo_link.url.href %}
{% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.logo_link.no_follow %}
	{% do rel.append("nofollow") %}
{% endif %}
{% if module.logo_link.open_in_new_tab %}
	{% do rel.append("noopener") %}
{% endif %}
<a href="{{ href }}"
	{% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
	{% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
	>


        {% if module.logo.src %}
        {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
        {% if module.logo.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.logo.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
        <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %} </a>
      </div>
      
        <div class="footer-right-copy-right">
          {{ module.copy_right }}
        </div>
      
    </div>
  </div>
</div>