<div class="logo-sec" id="{{ module.add_custom_id }}" style="background-color:{{ module.sec_background_color.color }};">
  <div class="container">
    <div class="outter-logo-sec">
      {% if module.title %}
      <div class="logo-title">
        <h3>
          {{ module.title }}
        </h3>
      </div>
      {% endif %}
      <div class="inner-logo display-flex">
        {% for item in module.box_group %}
        <div class="logo-box">
          {% if item.image.src %}
          {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
          {% if item.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
          <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>   
  </div>
</div>